:root {
    --primary-color: #284694;
    --secondary-color: #22c55e;
    --background-color: #f3f4f6;
    --text-color-black: #000000;
    --text-color-gray: #A8A8A8;
    --text-color-white: #FFFFFF;
    --text-color-light-blue: #527282;
    --footer-bg: #0D1B2A;
    --bg-sky-blue: #EFF8FF;
    --product-bg: #f6f6f6;
}

/* Scope styles only to cards within the .custom-card-container */
.custom-card-container .rt-Card:where(.rt-variant-surface) {
    --card-border-width: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;